*{
    font-family: 'ABeeZee', sans-serif;
font-family: 'Heebo', sans-serif;

} 

body::before{
    content: '';
    display: block;
    height: 50px;
}

.grad-bar {
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #fff700, #ff0099, #ff7700, #ff0000);
    background-size: 400% 400%;
        -webkit-animation: gradbar 15s ease infinite;
      -moz-animation: gradbar 15s ease infinite;
      animation: gradbar 15s ease infinite;
      position: fixed;
      z-index: 1000;
  }

  .navbar{
    background-color: rgb(249, 249, 249);
    color: rgb(207, 41, 41);
    height: 50px;
    width: 100%;
}
.but{
    color: #fc040481;
}

@-webkit-keyframes gradbar {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes gradbar {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes gradbar {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

#logo{
    width:3.7vw;
    
}

 .item{
    color: #000000;
} 
.nav-item :hover{
color: red;
}
.name{
    color:  #fb0000;
}
.Home{
    
    background-color: rgb(3, 3, 3);
    color: rgb(255, 251, 251);
}



.my_picture{
    border-radius: 10%;
    width: 30%;
}
.Download{
    color: red;
    padding-top: 1.5% !important;
    background-color: transparent !important;
    border: 2px solid red;
}

.university{
    height: 30rem;
}
.civil{
    height: 19rem 
}

.card{
    box-shadow: 0 0 50px #000000(0,0,0,0.5);
    background-color:  #000000;
    color: white;
}

.card-body{
    text-align: center;
    color: rgb(222, 215, 215);
}

.email{
    text-decoration: none;
    color:  red                                             ;
}
 
.row{
    text-align: center;
    justify-content: center;
    align-items: center;
}




.Project{
    background-color: #050505;
    width: 100%;
}


.Projects{
    
    display: flex;
    justify-content: space-evenly;
}
.pro{
    display: block;
    width: 15%;
   
}

.Skills{
    background-color: #101010;
    color: white;
    
   
}
.skillimg{
    display: flex;
    justify-content: space-evenly;
   
}
.heding{
    padding-right: 30%;
}
.prohead{
    text-align: center;
}

.Contact{
 background-color: white;
 color:  red;
 text-align: center;
}

.fa-phone{
    color:  rgb(0, 0, 0) !important;
font-size: 20px !important;
}

.fa-phone p{
    font-size: 20px !important;
    color: red;
}
footer{

    background-color: rgb(1, 1, 1);
    color: white;
   display: flex;
   justify-content: space-between;
   align-items: center;

   
}



.fa-github{
    font-size: 40px;
    color: red;
}

.fa-linkedin{
    font-size: 40px;
    color: red;
}

.fa-twitter{
    font-size: 40px;
    color: red;
}
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body  {
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
  background-size:cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(11, 7, 7); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #498383; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #083145; 
  }
  .btn{
    background-color: #d8caca;
}
.fig{
    text-align: center;
}
.skillitem {
font-size:15vmin;
}
.skill_icon_text{
    text-align: center;
    font-weight: bold;
    font-size: 1.5vw;
}
